* {
  padding: 40px;
  margin: 40px;
}

.AboutKashi {
  position: relative;
  overflow: hidden;
}
.AboutKashiImage {
  height: 80vh;
  width: 100vw;
}
.AboutKashiImage img {
  height: 100%;
  width: 100%;
}
.AboutKashiTitle {
  position: absolute;
  top: 65%;
  left: 70px;
  /* background-color: rgba(0, 0, 0, 0.5);   */
  color: white;
  padding: 10px;
}
.AboutKashiHeading {
  font-weight: 900;
  font-size: 5.5rem;
}
.cardOfKashiIntro{
background-color: rgb(246, 246, 246);
border: 1px solid whitesmoke;
  margin-left:60px;
  margin-right: 60px;
  padding: 10px;
border-radius: 8px;
box-shadow: 1px 1.5px 2px rgb(205, 205, 205);
}
.aboutKashiHeading {
  font-family: cursive;
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 25px;
  margin-left: 40px;
  margin-top: 40px;
}
.detailsOfVaranasi {
  font-size: 1.3em;
  font-weight: 525;
  margin-left: 18px;
  margin-right: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.aboutKashiSubHeading {
  margin-left: 10px;
  font-size: 2em;
  font-weight: 600;
}
.imageOfAboutKashi{
    width:100%;
    height: 500px;
  border-radius: 15px;
 padding: 5px;

  
}

.Subimage1OfAboutKashi{
    width: 560px;
    height: 420px;
    float: right;
    margin: 10px;
    border-radius: 8px;
    border: 0.1px solid black;
}
.LanguageCardContainer{
    margin-left: 60px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.LanguageCardOfKashi{
    height: 420px;
    width: 400px;
   background-color: rgb(246, 246, 246);
border: 2px solid rgb(238, 234, 234);
border-radius: 10px;
box-shadow: 1.6px 1.5px 4px rgb(205, 205, 205);
margin: auto;
transition: transform 0.3s ease-in-out; 
}


.LanguageCardOfKashi:hover {
  transform: scale(1.05); /* Scale up on hover */
}

.LanguageCardHeading{
    font-weight: 550;
    font-size: 2.4rem;
    text-align: center;
    margin-top: 5px;
}
.LanguageCardImage{
    height: 200px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
}
.LanguageCardDetails{
    padding-left: 10px;
    padding-right: 5px;
    font-size: 1.05em;
font-weight: 500;
}

.LawCardContainer{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    flex-wrap: wrap;
   gap: 15px;

}
.LawCard{
    height: 250px;
    width: 550px;
    background-color: whitesmoke;
    border: 2px solid rgb(238, 234, 234);
border-radius: 10px;
box-shadow: 1.6px 1.5px 4px rgb(171, 169, 169);
margin: auto;

}
.HeadingOfLawCard{
    font-size: 2em;
    font-weight: 550;
    padding: 15px;
  

}
.iconsOfLawCard{
    font-size: 2.8em;
  margin-left: 17px;
  color: chocolate
}
.DetailsofLawCard{
    font-size: 1.2em;
    font-weight: 525;
    padding: 15px 5px;
    padding-left: 10px;
}
.religionCardContainer{
   
    margin-left: 60px;
    margin-right: 60px;
    flex-wrap: wrap;
   gap: 15px;
    
  

}
.religionCard{
      height: 480px;
    width: 90%;
    background-color: whitesmoke;
    border: 2px solid rgb(238, 234, 234);
border-radius: 10px;
box-shadow: 1.6px 1.5px 4px rgb(171, 169, 169);
flex-direction: row;
 overflow: scroll;
 margin: auto;
 flex-wrap: wrap;

}
.religionCard1{
    height: 490px;
   

}
.religionCardHeading{
    text-align: center;
    font-weight: 550;
}
.religionImage1{
      height: 400px;
    width: 50%;
    background-color: white;
    border-radius: 8px;
    float: left;
    margin:10px;
}

.religionCardDetails{
    padding-left: 20px;
    font-weight: 525;
    font-size: 1.1em;
    padding-top: 10px;
}
.religionCardHeadingLine{
    height: 3px;
    width: 100%;
   background-color: black;
}
@media(max-width:1200px)
{
    .religionCard{
        display: flex;
        overflow-x: hidden;
        
    }
    .religionImage1{
        width: 100%;
       


    }
 
    
    .religionCard1{
    height: auto;
   

}
}
